img {
  max-width: 100%;
}

header {
  display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 50px;
  border: none;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: black;
}

a:hover {
  color: #b16f38;
}

main {
  margin: 20px;
  padding: 20px;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  max-width: 60ch;
  line-height: 1.5;
}
