/* NAVIGATION */

header {
  display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 50px;
  border: none;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #d9994f;
}

a:hover {
  color: #ffffff;
}

@media (max-width: 550px) {
  a {
    font-size: 0.9rem;
  }
}

/* BURGER MENU */

/* LUKKET BURGERMENU */
.hidden {
  display: none;
}

#menu_knap {
  display: inline-block;
  color: #d9994f;
}

#menu_burger {
  list-style-type: none;
}

#menu_burger li {
  margin: 0.5rem;
}

/* UDSKIFT BURGER MENU TIL NORMAL MENU */
.hide_burgermenu {
  display: none;
}

#menu_knap:hover {
  color: #ffffff;
}

/*BURGER MENU VISES INDEN FOR DENNE MEDIA QUERIE*/
@media only screen and (max-width: 550px) {
  .hide_burgermenu {
    display: block;
  }

  .hide_menu {
    display: none;
  }
}

/* MAIN  */

main {
  /* max-width: 1200px; */
  margin: 20px;
  padding: 20px;
}

/* BILLEDER  */

img {
  max-width: 100%;
}

/* FONTE */

h2 {
  font-family: "Raleway", sans-serif;
  color: #d9994f;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

@media (max-width: 550px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #d9994f;
}

p {
  font-family: "Roboto", sans-serif;
  max-width: 65ch;
  line-height: 1.5;
  color: #ffffff;
}

/* FORSIDE / INDEX */
@media (max-width: 800px) {
  #forside_section .section_wrapper {
    width: 100%;
    height: 110vh;
    background-image: url(billeder/lilleforside.png);
    background-size: cover;
  }
}

@media (min-width: 801px) {
  #forside_section .section_wrapper {
    width: 100%;
    height: 110vh;
    background-image: url(billeder/storforside.png);
    background-size: cover;
  }
}

/* PORTFOLIO - SIDEN MED ALLE IMAC SKÆRMENE */

/* HOVER PÅ IMAC BILLEDERNE */
.image1:hover {
  opacity: 0.5;
}

.image2:hover {
  opacity: 0.5;
}

.image3:hover {
  opacity: 0.5;
}

.image4:hover {
  opacity: 0.5;
}

.image5:hover {
  opacity: 0.5;
}

.image6:hover {
  opacity: 0.5;
}

@media (max-width: 599px) {
  #portfolio_section {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }

  #portfolio_section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 700px) {
  #portfolio_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  #portfolio_section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1050px) {
  #portfolio_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }

  #portfolio_section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

/* RESPONSIV / KEA DISTORTION */

@media (min-width: 900px) {
  #responsiv_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* PROTOTYPE / BANANAWEAR  */

@media (min-width: 900px) {
  #prototype_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* PITCH / PITCH TIL BANANAWEAR  */

@media (min-width: 900px) {
  #pitch_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* TEMAOPGAVE / PAW NINJA  */

@media (min-width: 900px) {
  #spil_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* PILOTPROJEKT / ASTRID SPECHT SEEBERG  */

@media (min-width: 900px) {
  #pilot_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    margin-top: 15px;
  }
}

/* REDESIGN / BLOND BAGERI  */

@media (min-width: 900px) {
  #redesign_section .section_wrapper {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* OM MIG */

@media (min-width: 900px) {
  #ommig_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* FOOTER */

footer {
  margin: 20px;
  background-color: #491f2d;
}

footer img {
  max-width: 25px;
  padding: 10px;
}

#footer_section {
  display: flex;
  justify-content: center;
}
