/* generel regel for billeder  */

img {
  max-width: 100%;
}

/* navigation */

header {
  display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 50px;
  border: none;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: black;
}

a:hover {
  color: #b16f38;
}

/* burger menu */

/* når burgermenuen er lukket */
.hidden {
  display: none;
}

#menu_knap {
  display: inline-block;
  padding-right: 0.5rem;
}

#menu_burger {
  list-style-type: none;
}

#menu_burger a {
  padding-right: 0.5rem;
}

#menu_burger li {
  margin: 0.5rem;
}

/* når burgermenuen skal udskiftes til normal menu får den klassen på */
.hide_burgermenu {
  display: none;
}

#menu_knap:hover {
  color: #b16f38;
}

/*Når skærmen er under og max 550px skal burgermenuen vises.*/
@media only screen and (max-width: 550px) {
  .hide_burgermenu {
    display: block;
  }

  .hide_menu {
    display: none;
  }
}

/* generel regl for at alt i main ikke står helt op af kanterne  */

main {
  margin: 20px;
  padding: 20px;
}

/* fonte */

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  max-width: 65ch;
  line-height: 1.5;
}

/* footer */

footer {
  padding: 10px;
}

footer img {
  max-width: 50px;
}

/* redesign siden  */

@media (min-width: 900px) {
  #redesign_section .section_wrapper {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* prototype siden  */

@media (min-width: 900px) {
  #prototype_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* spil / temaopgave siden  */

@media (min-width: 900px) {
  #spil_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* responsiv siden  */

@media (min-width: 900px) {
  #responsiv_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* pilotsiden  */

@media (min-width: 900px) {
  #pilot_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    margin-top: 15px;
  }
}

@media (min-width: 900px) {
  #pitch_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* om mig */

@media (min-width: 900px) {
  #ommig_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* portfolie  */

@media (max-width: 599px) {
  #portfolie_section {
    display: grid;
    grid-template-columns: 352px;
    grid-auto-rows: 240px;
  }

  #portfolie_section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 800px) {
  #portfolie_section {
    display: grid;
    grid-template-columns: repeat(2, 352px);
    grid-auto-rows: 270px;
  }

  #portfolie_section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1100px) {
  #portfolie_section {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    grid-auto-rows: 270px;
  }

  #portfolie_section img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
